# Ignore Python internal cache files
__pycache__/
*.pyc

# Ignore all local data and other select folders and scripts
data/
raw_input_data/
notebooks/
obsolete/
tests/
plots/

# Ignore common spreadsheet and data types
*.csv
*.xlsx
*.h5
*.pickle
*.npy
*.zip
*.nc
*.mat
